.cursor {
   z-index: 9998;
   pointer-events: none;
   mix-blend-mode: exclusion;
   position: absolute;
   width: 24px;
   height: 24px;
   /* top: 50%;
   left: 50%; */
   margin: -12px 0 0 -12px;
   border-radius: 100px;
   backface-visibility: hidden;
   transition: transform 0.5s cubic-bezier(0.780, -0.565, 0.240, 1.650) 0s;
   background: #fff;
 }

.cursor.hover{
  transform: scale(3);
}
